body { font-family: Georgia, serif, sans; font-size: 20px; color: #666; }

h1 { font-size: 200%; }

img { max-width: 100%; }
.container-fluid a:hover { color: inherit; }

.container-fluid { max-width: 992px; padding: 0 3em;}

body { padding-top: 50px; }
#top { background: url("/img/background.jpg") no-repeat 0% 0%; background-size: 100% 100%; }
#logo img { width: 100%; padding-bottom: 30px; }
#girl img { width: 100%; padding: 40px 0 0 0; }

.navbar { box-shadow: 0 5px 5px rgba(0,0,0,.25); }
.navbar-brand .fa { font-size: 150%; }

h1 { margin: 2em 0 0 0; text-align: center; text-shadow: 2px 2px 4px rgba(0,0,0,.33); }
h1:after { content: ""; display: block; position: relative; left: 40%; width: 20%; margin: .5em 0 1em 0; border-bottom: 4px solid rgba(0,0,0,.25); }

.block-clr1, .block-clr2 {
	padding-bottom: 3.5em;
	background-image: url("/img/fringe.png"), url("/img/block.png");
	background-position: left bottom, left bottom;
	background-repeat: repeat-x, repeat;
	box-shadow: 0 -5px 5px rgba(0,0,0,.25);
	position: relative;
}
.block-clr1 *, .block-clr2 * { color: #fff; }
.block-clr1 h1, .block-clr2 h1 { margin-top: 1em; }
.block-clr1 h1:after, .block-clr2 h1:after { border-color: rgba(255,255,255,.5); }
.block-clr1 { background-color: #07f; }
.block-clr2 { background-color: #f70; }

.fun { margin-top: 4em; text-align: center; }

.contacts  { text-align: center; }
.contacts ul { display: inline-block; text-align: left; list-style: none; padding-left: 0; font-size: 140%; line-height: 1.6; }
.contacts .fa{ width: 1.5em; margin-right: .5em; text-align: center; }

.steps { margin: 2em 0em; padding: 2em 0 1em 0; border: 2px dashed rgba(255,255,255,.5); border-left: none; border-right: none; }
.steps .numbering, .steps .description { margin-bottom: 1em; }
.steps .numbering span { display: block; margin: 0 auto; font-size: 400%; color: #07f; text-align: center; width: 1.3em; height: 1.3em; line-height: 1.2em; border-radius: 50%; background: #fff; box-shadow: inset 5px 5px 10px rgba(0,0,0,.33); text-shadow: 2px 2px 4px rgba(0,0,0,.33); }

.goods div { margin-top: 2em; text-align: center; }
.goods img { max-width: 400px; width: 100%; margin-bottom: 2em; }

.logos { text-align: center; }
.logos img { vertical-align: middle; width: 125px; max-width: 35%; margin: 1em; }

@media (max-width: 480px) {
	body {font-size: 14px; }
	.container-fluid { padding: 0 1em;}
}
