img { max-width: 100%; }

body {
  padding-top: 50px;
}

#top {
	background: url("/img/background.jpg") no-repeat 0% 0%;
    background-size: 100% 100%;
}
#logo img { width: 100%; padding: 50px 0 50px 0; }
#girl img { width: 100%; padding: 50px 0 0 0; }

h1 { margin: 0; text-align: center; }
h1:after {
	content: "",
	margin: 0.5em 0 1em 0;
	width: 33%;
	border-top: 4px;
	border-color: rgba(0,0,0,.5);
}

.block { padding: 1em 0em; }

.clr * { color: #fff; }
.clr h1:after { border-color: rgba(255,255,255,.5); }

.clr.clr1 { background: #07f; }
.clr.clr2 { background: #f70; }

