body {
  padding-top: 50px;
}

h1 { margin: 0;}
h1:after { margin: 0.5em 0 1em 0; width: 33%; border-top: 4px; border-color: rgba(0,0,0,.5); }

#logo { width: 100%; }
#top {
	padding: 40px 0 0 0;
	height: 500px;
	background: url("/img/top.jpg") no-repeat 50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.block { padding: 1em 0em; }

.clr { font-color: #fff; }
.clr.h1:after { border-color: rgba(255,255,255,.5); }

.clr.clr1 { background: #07f; }
.clr.clr2 { background: #f70; }

