---
title: Hello, World!
layout: default
---
<section id="about" class="block-clr1"><div class="container-fluid">
	<h1>Европейские товары<br />ближе, чем кажутся</h1>
	<p>Красноярск так далеко от Европы. А заказывать вещи так сложно и страшно. Трудности перевода, риски доставки, сложности с оплатой… На самом деле вовсе нет. Всего несколько простых шагов отделяет Вас от Европы!</p>
	<div class="row steps">
		<div class="col-sm-4"><div class="row">
			<div class="col-xs-4 col-sm-12 numbering"><span>1</span></div>
			<div class="col-xs-8 col-sm-12 description">Найти вещь по душе в одном из многочисленных каталогов.</div>
		</div></div>
		<div class="col-sm-4"><div class="row">
			<div class="col-xs-4 col-sm-12 numbering"><span>2</span></div>
			<div class="col-xs-8 col-sm-12 description">Уточнить детали с нашим менеджером и сделать заказ.</div>
		</div></div>
		<div class="col-sm-4"><div class="row">
			<div class="col-xs-4 col-sm-12 numbering"><span>3</span></div>
			<div class="col-xs-8 col-sm-12 description">Получить превосходный Европейский товар и наслаждаться!</div>
		</div></div>
	</div>
	<p>Если не терпиться начать и не хочется читать дальше, просто звоните или пишите нам, мы всегда рады помочь:</p>
	{% include contacts.html %}
</div></section>

<section id="steps" class="block"><div class="container-fluid">
	<h1>О нашем клубе</h1>
	<p>Мы осуществляем поставки одежды, обуви, игрушек, аксессуаров и других товаров из всех известных торговых сетей и каталогов Европы. Мы делаем только одно, но делаем это хорошо! H&M, C&A, ZARA, OTTO, BonPrix, Verbaudet, и многие другие – все это у Вас под рукой.</p>
	<p>У нас вы можете приобрести товары настоящего оригинального качества сразу по их появлению в Европе. Самые последние коллекции известных брендов ждут Вас прямо сейчас! Adidas, Nike, H&M, C&A, NEXT, Esprit, Mexx, ZARA – все это доступно Вам в кратчайшие сроки по Европейским ценам.</p>
	<p>Наши клиенты часто становятся нашими друзьями. Присоединяйтесь к нашей веселой компании!</p>
</div></section>

<div class="container-fluid fun">
	<img src="/img/fun-sale.jpg" />
</div>
<section id="sales" class="block-clr1"><div class="container-fluid">
	<h1>Скидки и распродажи</h1>
	<p>А как же знаменитые Европейские распродажи? Зимой, летом, просто от случая к случаю. Как же повезло европейцам!</p>
	<p>А знаете, у нас они проходят почти также, только … чаще! Основные сезонные распродажи два раза в год, регулярные скидки на целые коллекции и отдельные виды товаров… Словом, это действительно стоит не только увидеть, но и принять самое активное участие! И с нашей помощью вы сможете сделать это, не выходя из дома.</p>
	<p>Благодаря четко отлаженной системе работы, регулярным поставкам, практически неограниченному ассортименту и прямым контактам с поставщиками многие наши клиенты становятся постоянными заказчиками и просто друзьями. 
	Уже более 4 лет мы постоянно консультируем Вас в вопросах выбора бренда, размера и качества товара, помогая найти именно то, что Вам нужно!</p>
</div></section>

<section id="catalogs" class="block"><div class="container-fluid">
	<h1>Перечень торговых сетей и каталогов</h1>
	<p>Ниже приведены описание и ссылки на оригинальные интернет-сайты торговых сетей и каталогов. При первом входе некоторые сайты предлагают выбрать страну. Выберете, Deutschland или Germany (Германия), для просмотра актуальных товаров и цен.</p>
	<p>Если вы испытываете трудности при работе с сайтами на немецком языке? Воспользуйтесь услугами автоматического перевода сервиса translate.google.com либо браузера Google Chrome (google.com/chrome). И конечно, Вы всегда можете обратиться к нам за помощью.</p>
</div></section>

<div class="container-fluid fun">
	<img src="/img/fun2.jpg" />
</div>
<section id="conditions" class="block-clr2"><div class="container-fluid">
	<h1>Порядок работы от «А» до «Я»</h1>
</div></section>

<section id="opt" class="block"><div class="container-fluid">
	<h1>Оптовым покупателям</h1>
	<p>Особое внимание мы уделяем работе с оптовыми покупателями, корпоративными клиентами. Мы предлагаем гибкие условие оплаты, возможность ознакомиться с примерами товаров и произвести пробную закупку партии товара «под реализацию».</p>
	<p>Мы всегда готовы помочь в выборе наиболее выгодных направлений работы, и обсудить с Вами индивидуальные условия сотрудничества.</p>
</div></section>

<div class="container-fluid fun">
	<img src="/img/fun3.jpg" />
</div>
<section id="contacts" class="block-clr2"><div class="container-fluid">
	<h1>Контакты</h1>
	{% include contacts.html %}
</div></section>