<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

	<title>{{ site.name }}</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/my.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<div class="inner_page_nav navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{ site.name }}</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#intro">Intro</a></li>
				<li><a href="#second">Second</a></li>
				<li><a href="#third">Third</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="top"><div class="container">
	<div class="col-sm-4"><img id="logo" src="/img/logo.png" /></div>
</div></div>

<div class="block clr clr1"><div class="container">
	<h1>Европейские товары<br />ближе, чем кажутся!</h1>
	<p>Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то.</p>
</div></div>

<div class="block"><div class="container">
	<h1>Европейские товары<br />ближе, чем кажутся!</h1>
	<p>Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то.</p>
</div></div>

<div class="block clr clr2"><div class="container">
	<h1>Европейские товары<br />ближе, чем кажутся!</h1>
	<p>Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то. Это самая новая информация и еще что-то для кого-то.</p>
</div></div>
