<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- <base href="" />

	<link rel="shortcut icon" href="/_/template/favicon.png">
	<link rel="apple-touch-icon-precomposed" href="/_/template/apple-icon-57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/_/template/apple-icon-72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_/template/apple-icon-114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_/template/apple-icon-144.png" />
-->	

	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="">
	<title>{{ page.title }}</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/my.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
